.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid #d6d6d6;
  }

.navbar h1 {
  color:black;
  font-weight:200;
  font-size:calc(0.75em + 3vmin);

  margin:0;
}

.navbar a {
  text-align: center;
  margin-left: 16px;
  text-decoration: none;
  padding: 3px;
  font-size:calc(0.50em + 1vmin);
  color:black;
  font-weight: bold;
  border-radius: 10%;


}

.navbar .searchNav{
  width: calc(3em + 10vmin);
  height: calc(1em + 1.25vmin);
  font-size:calc(0.50em + 1vmin);
  outline: none;
}

.navbar .searchNav:focus{
  border: 2px solid #FF3636;
}

.navbar .searchNav:hover{
  border: 2px solid #FF3636;
}

.navbar .extra{
  display:flex;
  align-items: center;
}

.navbar .helpNav{
  display: flex;
  font-size:x-large;
  padding-right: calc(0.20em + 0.5vmin);
  font-size:calc(0.75em + 1vmin);
  align-items: center;
}

.navbar .helpNav:hover{
  color: #FF3636;
}

.animatedSearch {
  animation-name: shake;
  animation-duration: 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 0px) rotate(0deg); }
  10% { transform: translate(-1px, 0px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(0deg); }
  30% { transform: translate(3px, 0px) rotate(0deg); }
  40% { transform: translate(1px, 0px) rotate(0deg); }
  50% { transform: translate(-1px, 0px) rotate(0deg); }
  60% { transform: translate(-3px, 0px) rotate(0deg); }
  70% { transform: translate(3px, 0px) rotate(0deg); }
  80% { transform: translate(-1px, 0px) rotate(0deg); }
  90% { transform: translate(1px, 0px) rotate(0deg); }
  100% { transform: translate(1px, 0px) rotate(0deg); }
}

.helpcloseButton{
  border-radius: 10%;
  color:black;
  padding: 8px;
  font-weight: bold;
  font-size:calc(0.75em + 0.5vmin);
}

.helpcloseButton:hover{
  background-color: #FF3636;
}